/* node edit */

.bvt_blog_gallery_item_image,
.bvt_blog_gallery_item_image_drag_placeholder {
  float: left;
  width:150px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bvt_blog_gallery_item_image_drag_placeholder {
 background-color:  #22749f;
}

.bvt_blog_gallery_item_image img {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
}
.bvt_blog_gallery_item_image a.edit,
.bvt_blog_gallery_item_image a.delete {
  background: none repeat scroll 0 0 white;
  padding: 3px;
  position: relative;
  text-decoration: underline;
  display:none;
  top: -160px;
  left: 10px;
}
.bvt_blog_gallery_item_image .form-wrapper {
  background: transparent !important; 
}

#bvt_blog_gallery_ajax_description_edit textarea {
  border: 1px solid #777;
  width: 90%;
  height: 90%;
}

/* themes */

.bvt_blog_gallery_gallery_1 {
  width: 90%;
  margin-left: 5%;
  height: 400px;
  background-color: #000036;
  text-align: center;
}

.bvt_blog_gallery_gallery_1 img {
  max-width: 100%; 
  max-height: 400px;
}

.bvt_blog_gallery_gallery_2 {
  width: 100%;
  padding: 10px;
}
.bvt_blog_gallery_gallery_2 div.item {
  max-width: 100%;
  float: left;
}

.bvt_blog_gallery_gallery_2 img.item {
  max-width: 100%;
}

.bvt_blog_gallery_gallery_2 div.thumbnail {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
}


.bvt_blog_gallery_gallery_1 .description {
 background-color: black;
 opacity: 0.7;
 color: white;
 height: 60px;
 margin-top: -66px;
}

.bvt_blog_gallery_gallery_1 .description .prev {
  float: left;
  width: 30px;
  margin: 15px 10px 10px;
  cursor: pointer;
}

.bvt_blog_gallery_gallery_1 .description .next {
  float: right;
  width: 30px;
  margin: -45px 10px 10px;
  cursor: pointer;
}

.bvt_blog_gallery_gallery_1 .description .text {
  font-family: Arial,Helvetica,serif;
  font-size: 12px;
  height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}
